PORT=3000
NODE_ENV=development
TZ=America/Sao_Paulo

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/techchallenge?schema=public"

JWT_SECRET=your-secret-key-here
JWT_EXPIRATION=15m
JWT_REFRESH_SECRET=your-refresh-secret-key-here
JWT_REFRESH_EXPIRATION=7d

BCRYPT_SALT_ROUNDS=12

ALLOWED_ORIGINS=http://localhost:3000
